<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div id="Content">
  <section layout:fragment="content">

    <div id="Admin">

      <table>
        <tr>
          <th>Product</th>
          <th>Product Id</th>
          <th>name</th>
        </tr>
        <tr th:if="${#lists.isEmpty(productList)}">
          <td colspan="3">
            <b>Products not found.</b>
          </td>
        </tr>
        <tr th:each="product : ${productList}">
          <td>
            <a th:href="@{/catalog/products/{productId}(productId=${product.productId})}"
               th:utext="${product.description}"></a>
          </td>
          <td>
            <a th:href="@{/catalog/products/{productId}(productId=${product.productId})}"
               th:text="${product.productId}">
              AV-CB-01
            </a>
          </td>
          <td th:text="${product.name}">Amazon Parrot</td>
        </tr>
      </table>

    </div>

  </section>
</div>
</body>
</html>